<nav class="navbar ">
    <div class="logo">
        <img src="../static/img/logo.jpg" alt="Error" height="50px" width="50px">
    </div>
    <div>
        <ul class="navlist">
            <li><a href="/">Home</a></li>
            <li><a href="/donate">Donate</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/join">Join us</a></li>
            <li class="log" id="in"><a href="/login">login</a></li>
            <li class="log"><a href="/logout">logout</a></li>
        </ul>
        <script src="../../src/app.js"></script>
    </div>
</nav>