<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DonateEase</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav class="navbar ">
        <div class="logo">
            <img src="../static/img/logo.jpg" alt="Error" height="50px" width="50px">
        </div>
        <div>
            <ul class="navlist">
                <li><a href="/">Home</a></li>
                <li><a href="/donate">Donate</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/contact">Contact us</a></li>
                <li><a href="/join">Join us</a></li>
            </ul>
        </div>
    </nav>

    <section class="vision background">
        <div class="boxmain">
            <div class="para">
                <p class="big">
                    The greatest <b>Good</b> is what we do
                </p>
                <p class="mid">
                    for one another
                </p>
                <p class="small">
                    Its not how much we give, but how much love we put into giving
                </p>
            </div>
        </div>
    </section>
    <section class="second">
        <div class="head">
            <p>Help needy people by donating your clothes</p>
        </div>
        <div class="cont">
            <div class="one">
                <p>Remember the happy faces on receiving a new cloth every time!? Imagine yourself and also to the one
                    your gifting it too isn't the feeling so good. When we can do it for ourselves why not others! Let
                    them also wear that happy grin and help them live better. A small contribution toward the society
                    will help change million lives.
                    Come together to donate the well not much used of your clothing and give them the basic need. Happy
                    faces create an Apsious environment. Let's do it!</p>
            </div>
            <div class="two">
                <img src="../static/img/hand.jpg" alt="error">
            </div>
        </div>
    </section>
    <section class="work">
        <div class="title">
            <h1>How it works</h1>
        </div>
        <div class="boxes">
            <div class="box">
                <img src="../static/img/pngfind.com-delivery-icon-png-1326215.png" alt="">
                <p class="common">Schedule a pickup </p>
                <p class="myc">Enter a pickup location and schedule a pickup. minimal fee is applicable. you can also
                    choose to donate by yourself at our office.</p>
            </div>
            <div class="box">
                <img src="../static/img/Lovepik_com-400207650-deliveries.png" alt="">
                <p class="common">Donate at your Doorstep </p>
                <p class="myc">We will come to your doorstep to pick up the donations in the chosen slot and deliver
                    them to the NGO ,where they can be given a new life.</p>
            </div>
            <div class="box">
                <img src="../static/img/clipart4662757.png" alt="">
                <p class="common">Get rewards</p>
                <p class="myc">Donate and get exciting rewards from us .</p>
            </div>
        </div>
    </section>
    <footer>

        <div class="center">
            <p>Facebook | Twitter | Instagram</p>
        </div>
        <div class="center">
            copyright &copy;www.myonlinemeal.com. All rights reserve
        </div>
    </footer>
    <!-- <script src="../static/index.js"></script> -->
</body>

</html>